.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-border-radius:5px;
    -fx-padding: -2px;
}

.check-box:selected .mark {
    -fx-background-color: transparent;
}

.check-box:selected .box {
    -fx-background-color: #ac0002;
}

#dataMemoryHeader {
    -fx-background-color: #002c73;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#dataCell {
    -fx-pref-width: 35.0;
    -fx-alignment: center;
}

#addressCell {
    -fx-pref-width: 122.0;
}
